extends layout-loggedin.jade
block head
	block head_crud
	script(src="vendor/angular-validation-match/dist/angular-validation-match.js")
	link(type="text/css", rel="stylesheet", href="css/custom-forms.css")
block content
	block table