doctype
html(lang="en-US", ng-app="myApp")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(type="text/css", rel="stylesheet", href="vendor/materialize/dist/css/materialize.css",  media="screen,projection")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		script(src="vendor/angular/angular.min.js")
		script(src="vendor/jquery/dist/jquery.min.js")
		title= t("app.titles.main")
		block head
	body
		script(type="text/javascript", src="vendor/materialize/dist/js/materialize.min.js")
		header
			script(type='text/javascript').
				$(document).ready(
					function(){
						if($(".button-collapse"))
							$(".button-collapse").sideNav();
						if($('.collapsible'))
							$('.collapsible').collapsible({accordion : false});
					});
			nav
				div(class="nav-wrapper blue-grey darken-4")
					a(href="/home", class="brand-logo")= t("app.titles.main")
					a(href="/nome", data-activates="mobile-menu", class="button-collapse")
						i(class="mdi-navigation-menu")
					ul(class="right hide-on-med-and-down")
						li: a(href="/patient")= t("app.titles.patient")
						li: a(href="/logout")= t("app.buttons.exit")
					ul(class="side-nav", id="mobile-menu")
						li: a(href="/patient")= t("app.titles.patient")
						li: a(href="/logout")= t("app.buttons.exit")
					block div-header
			block header
		.container(ng-controller="AppCtrl")
			.main-content
					block content
			.sidebar
					block sidebar